.Net Framework 4.5 Expert Programming Cookbook/7423EN_06_Code/WcfDbPingService - Fault - Security/PingDbTestApp/Service References/PingServiceReference/WcfDbPingService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfDbPingService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfDbPingService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PingException">
    <xs:sequence>
      <xs:element minOccurs="0" name="InnerException" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StackTrace" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PingException" nillable="true" type="tns:PingException" />
</xs:schema>